absl-py==0.15.0
grpcio==1.47.0
grpcio-tools==1.32.0
h5py==2.10.0
importlib-metadata==3.7.3
ipykernel==5.2.1
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
joblib==1.0.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==2.1.1
numpy==1.19.5
pandas==0.24.2
pandocfilters==1.4.2
protobuf==4.21.2
pyfits==3.5
scikit-image==0.16.2
scikit-learn==0.20.3
scipy==1.2.1
Theano==1.0.5
virtualenv==20.0.18